body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.header-box {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 300px 50px 300px;

}

.top-header {
    display: flex;
    justify-content: space-between;
}

.top-header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #F9FAF8;
    margin-top: 17px;
}

.hero-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.header-info {
    color: #E5e7eb;
    margin-right: 100px;
    text-align: left;
    font-size: 18px;
}

.header-info h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 800;
}

img.header-image {
    width: 500px;
}

.signup-button {
    color: #E5e7eb;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
    border-radius: 8px;
    border: none;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

a {
    color: #E5e7eb;
    text-decoration: none;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.items {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.item img {
    border-radius: 5%;
}

.text {
    flex-wrap: wrap;
    align-self: center;
    margin-top: 5px;
    font-size: 18px;
    color: #1f2937;
}

.quote-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px;
    padding-right: 350px;
    padding-left: 350px;
}

.quote-box p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    text-align: left;
}

.quote-box b {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.signup-box {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 50px 300px 50px 300px;
    padding: 30px 0px;
    border-radius: 8px
}

.signup-box .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0px;
}

.signup-box h3 {
    margin: 0;
    color:#F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.signup-box p {
    color: #E5e7eb;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
}

.signup-box .signup-button {
    outline-style: solid;
    margin-top: 16px;
    margin-bottom: 16px;
}
.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #1f2937;
    color: #E5e7eb;
}